In [1]:
import numpy as np
import pandas as pd
from time import time
from IPython.display import display # Allows the use of display() for DataFrames

%matplotlib inline

# Load the Census dataset
data = pd.read_csv("../finding_donors/census.csv")

# Success - Display the first record
display(data.head(n=5))

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K

### Data processing

In [3]:
# Split the data into features and target label
income_raw = data['income']
features_raw = data.drop('income', axis = 1)

# Log-transform the skewed features
skewed = ['capital-gain', 'capital-loss']
features_log_transformed = pd.DataFrame(data = features_raw)
features_log_transformed[skewed] = features_raw[skewed].apply(lambda x: np.log(x + 1))


# Import sklearn.preprocessing.StandardScaler
from sklearn.preprocessing import MinMaxScaler

# Initialize a scaler, then apply it to the features
scaler = MinMaxScaler() # default=(0, 1)
numerical = ['age', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']

features_log_minmax_transform = pd.DataFrame(data = features_log_transformed)
features_log_minmax_transform[numerical] = scaler.fit_transform(features_log_transformed[numerical])

# Show an example of a record with scaling applied
display(features_log_minmax_transform.head(n = 5))

# TODO: One-hot encode the 'features_log_minmax_transform' data using pandas.get_dummies()
features_final = pd.get_dummies(data=features_log_minmax_transform) 

# TODO: Encode the 'income_raw' data to numerical values
income = income_raw.map(lambda x: 0 if x=="<=50K" else 1)

/mnt/c/Users/Luiz/python-environments/env/lib/python3.6/site-packages/sklearn/preprocessing/data.py:323: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,0.301370,State-gov,Bachelors,0.800000,Never-married,Adm-clerical,Not-in-family,White,Male,0.667492,0.0,0.397959,United-States
1,0.452055,Self-emp-not-inc,Bachelors,0.800000,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.000000,0.0,0.122449,United-States
2,0.287671,Private,HS-grad,0.533333,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.000000,0.0,0.397959,United-States
3,0.493151,Private,11th,0.400000,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.000000,0.0,0.397959,United-States
4,0.150685,Private,Bachelors,0.800000,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.000000,0.0,0.397959,Cuba

### Shuffling and Split Data

In [5]:
# Import train_test_split
from sklearn.model_selection import train_test_split

# Split the 'features' and 'income' data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features_final, 
                                                    income, 
                                                    test_size = 0.2, 
                                                    random_state = 0)

# Show the results of the split
print("Training set has {} samples.".format(X_train.shape[0]))
print("Testing set has {} samples.".format(X_test.shape[0]))

Training set has 36177 samples.
Testing set has 9045 samples.

In [6]:
X_train

,age,education-num,capital-gain,capital-loss,hours-per-week,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
13181,0.410959,0.600000,0.000000,0.000000,0.500000,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
10342,0.438356,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
20881,0.054795,0.666667,0.000000,0.000000,0.357143,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
24972,0.301370,0.866667,0.000000,0.905759,0.448980,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
43867,0.246575,0.600000,0.000000,0.000000,0.500000,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4124,0.315068,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
17641,0.054795,0.600000,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
17273,0.561644,0.400000,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
41191,0.109589,0.800000,0.000000,0.000000,0.397959,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5386,0.232877,0.800000,0.000000,0.000000,0.377551,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
28449,0.356164,0.800000,0.000000,0.000000,0.346939,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4955,0.191781,0.600000,0.000000,0.000000,0.602041,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
41332,0.315068,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
33898,0.479452,0.533333,0.835363,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3413,0.054795,0.600000,0.000000,0.000000,0.193878,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
39582,0.369863,0.400000,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
33986,0.232877,0.600000,0.000000,0.000000,0.295918,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1797,0.178082,0.800000,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
22785,0.479452,0.600000,0.000000,0.000000,0.959184,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
36491,0.342466,0.800000,0.000000,0.000000,0.551020,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
7267,0.273973,0.600000,0.772653,0.000000,0.357143,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
32007,0.657534,0.200000,0.000000,0.885488,0.306122,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
41963,0.260274,0.800000,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
43769,0.452055,0.600000,0.000000,0.000000,0.551020,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
20819,0.342466,0.533333,0.000000,0.000000,0.602041,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
28052,0.205479,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
15274,0.082192,0.266667,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
21690,0.054795,0.600000,0.000000,0.000000,0.142857,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
7986,0.191781,0.533333,0.000000,0.000000,0.602041,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
22296,0.027397,0.600000,0.000000,0.000000,0.295918,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7599,0.164384,0.466667,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1871,0.630137,0.600000,0.860432,0.000000,0.091837,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
18430,0.589041,0.600000,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
7877,0.438356,0.800000,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
37619,0.397260,0.600000,0.000000,0.000000,0.397959,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5072,0.342466,1.000000,0.787051,0.000000,0.602041,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2163,0.616438,0.466667,0.000000,0.000000,0.397959,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
38804,0.041096,0.600000,0.000000,0.000000,0.295918,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6921,0.465753,1.000000,0.000000,0.900201,0.397959,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
38984,0.520548,0.533333,0.000000,0.000000,0.193878,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
27469,0.246575,0.266667,0.000000,0.000000,0.500000,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16921,0.150685,0.266667,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
35665,0.041096,0.600000,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
24152,0.397260,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
43095,0.205479,0.533333,0.000000,0.901146,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
18983,0.561644,0.800000,0.000000,0.000000,0.397959,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
32230,0.383562,0.866667,0.000000,0.000000,0.500000,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
17089,0.547945,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
14650,0.479452,0.600000,0.000000,0.000000,0.448980,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
39512,0.150685,0.666667,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
15430,0.246575,0.800000,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
14935,0.465753,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
20757,0.589041,0.600000,0.000000,0.000000,0.500000,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
41993,0.342466,0.800000,0.000000,0.000000,0.704082,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
32103,0.657534,0.533333,0.000000,0.000000,0.091837,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
30403,0.164384,0.600000,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
21243,0.301370,0.666667,0.000000,0.000000,0.602041,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
42613,0.561644,0.800000,0.000000,0.000000,0.551020,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
43567,0.534247,0.533333,0.000000,0.000000,0.397959,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2732,0.232877,0.533333,0.704384,0.000000,0.346939,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0